html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0 0 100px;
}
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
}
.is-centered {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-section,
.heading,
.subheading,
.subtitle,
.title {
  font-weight: 500;
  word-break: break-word;
}
.background__none {
  background: none !important;
}
.is-faded {
  padding-left: 50px;
  margin-top: -30px;
  padding-top: 50px;
  background: linear-gradient(to right, #f9f9f9, #fff 20px);
}
.input,
.textarea {
  padding: 0 15px;
  border-radius: 0;
  box-shadow: none;
  height: 42px;
}
.control:not(:last-child) {
  margin-bottom: 1.3em;
}
.hero__top {
  margin-top: 5px;
}
.title {
  font-size: 3rem;
}
.modal-content {
  overflow: hidden;
}
.footer {
  padding: 1rem 1rem 1rem !important;
  height: 60px;
}
.message__top {
  margin-top: 20px;
}
.is-popUp {
  background-color: #ffdd57;
  color: rgba(0,0,0,0.7);
  position: fixed;
  z-index: 10;
  bottom: 20px;
  right: 20px;
}
