/* Sticky footer */

html
  position relative
  min-height 100%

body
  margin 0 0 100px

footer
  position absolute;
  left 0
  bottom 0
  height 100px
  width 100%

/* End sticky footer */

/* Flex */

.is-centered
  align-items center

/* End flex */

/* Shared */

.footer-section, .heading, .subheading, .subtitle, .title
  font-weight 500
  word-break break-word

.background__none
  background none!important

.is-faded
  padding-left 50px
  margin-top -30px
  padding-top 50px
  background -webkit-linear-gradient(left,#f9f9f9,#fff 20px)
  background linear-gradient(to right,#f9f9f9,#fff 20px)


/* End shared */